<!DOCTYPE html>
<html>
<head>
  <style>
    .nav {
      background-color: rgb(255, 253, 208);
      display: flex; 
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px; 
      color: white; 
    }
    
    .nav li {
      list-style: none;
      margin: 0;
    }
    
    .nav a {
      text-decoration: none; 
      color: inherit;
    }
  </style>
</head>
<body>
  <header class="site-header">
    <div id="header">
      <nav>
        <ul class="nav">
          <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
          <li class="fork"><a href="{{site.baseurl}}/project">Project</a></li>
          <li class="fork"><a href="{{site.baseurl}}/csp">CSP</a></li>
          <li class="fork"><a href="{{site.baseurl}}/csa">CSA</a></li>
          <li class="fork"><a href="{{site.baseurl}}/blogs">Blogs</a></li>
          <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
        </ul>
      </nav>
    </div><!-- end header -->
  </header>
</body>
</html>
